<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>630605048441-op41fmqi7r260f8k9jha9d8p7u9j21d5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.630605048441-op41fmqi7r260f8k9jha9d8p7u9j21d5</string>
	<key>API_KEY</key>
	<string>AIzaSyAnWABVgMui900ek5NdzP57bg_HXOSJK18</string>
	<key>GCM_SENDER_ID</key>
	<string>630605048441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>AppIdea.postnote</string>
	<key>PROJECT_ID</key>
	<string>postmyapp-49741</string>
	<key>STORAGE_BUCKET</key>
	<string>postmyapp-49741.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:630605048441:ios:5dfac3f3da1e033a</string>
	<key>DATABASE_URL</key>
	<string>https://postmyapp-49741.firebaseio.com</string>
</dict>
</plist>